<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Edit Dragon</title>
</head>
<body>
    <h1>Edit Dragon</h1>
    <form action ='/dragons/<%= dragon[0]._id %>' method="POST">
        Name: <input type='text' name='name' value="<%= dragon[0].name %>"><br>
        <br>
        Age: <input type='number' name='age' value="<%= dragon[0].age %>"><br>
        <br>
        Size: <input type='text' name='size' value="<%= dragon[0].size %>"><br>
        <br>
        Fire-Breathing: <select name='fire'>
            <option value="Yes">Yes</option>
            <% if(dragon[0].fire == "No"){ %>
                <option selected="selected" value="No">No</option>
            <% }
            else { %>
                <option value="No">No</option>
            <% } %>
        </select><br>
        <br>
        Favorite Food: <input type="text" name='faveFood' value="<%= dragon[0].faveFood %>"><br>
        <br>
        <input type='submit' value='Make Changes'><br>
    </form>
    <br>
    <a href='/'>Go Back</a>
</body>
</html>