<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
</head>
<body>
    <h1>Welcome to the Message Board</h1>
    <form action="/newPost" method="POST">
        Name: <input type="text" name="name"><br>
        <br>
        Message: <textarea name="text" rows=10 cols=40></textarea><br>
        <br>
        <input type="submit" value="Post New Message"><br>
    </form>
    <hr>
    <% for(var idx in posts){ %>
        <h3>Name: <%= posts[idx].name %></h3>
        <p>Message: <%= posts[idx].text %></p>
        <h2>Comments:</h2>
        <% if(posts[idx].comments != []){ %>
            <% for(var idx2=0; idx2< posts[idx].comments.length;idx2++){ %>
                <h3>Name: <%= posts[idx].comments[idx2].name %></h3>
                <p>Comment: <%= posts[idx].comments[idx2].text %></p>
            <% } %>
        <% } %>
        <form action="/newComment" method="POST">
            Name: <input type="text" name="name"><br>
            <br>
            Comment: <textarea name="text" rows=2 cols=40></textarea><br>
            <br>
            <input type="hidden" name="id" value = <%= posts[idx]._id %>>
            <input type="submit" value="Post New Comment"><br>
        </form>
        <hr>
    <% } %>


</body>
</html>